#header {
    height: 64px;
    background: #fff;
    position: fixed;
    header: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#header h1#logo {
    float: left;
    margin: 0;
}

#header h1#logo a {
    background: url(../images/logo.png) no-repeat top left;
    width: 194px;
    height: 48px;
    margin: 8px;
    display: block;
    text-indent: -9999px;
}

#header .color {
    display: block;
    height: 4px;
    position: absolute;
    top: 100%;
    width: 100%;
}

#header #menu {float:left;padding:17px 40px 0 0;}

#container {padding:100px 20px 20px 20px;}

.color {
    background-color: rgba(195, 30, 30, 0.9) !important;
}

.shadow {
    background: url(../images/top-shadow.png) repeat-x;
    height: 35px;
    position: fixed;
    top: 68px;
    width: 100%;
}

.experiment {
    cursor: pointer;
    outline: 1px lightgray solid;
    padding: 5px;
    margin: 5px;
}

table.responsive-table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
.responsive-table tr:nth-of-type(odd) {
    background: #eee;
}
.responsive-table th {
    background: #333;
    color: white;
    font-weight: bold;
}
.responsive-table td, .responsive-table th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
.select-container > div{
    display: inline-flex;
}
.chart-container {
    min-height: 400px;
    border: 1px solid dimgray;
}
.detail-container h1 {
    margin-bottom: 30px;
}
.detail-view p {
    min-height: 50px;
    border-bottom: 1px solid #ededed;
}
.detail-view p > span {
    width: 50%;
    display: inline-table;
}
.detail-view p > span:first-child {
    text-align: left;
}
.detail-view p > span:last-child {
    text-align: right;
}
.table-container {
    margin-bottom: 50px;
}
.news-container ul {
    list-style-type: none;
    padding: 0;
}
.news-container ul li {
    margin-bottom: 10px;
}
.news-item img {
    width: 200px;
}
a.news-item, a.news-item:hover, a.news-item:focus {
    color: black;
    text-decoration: none;
    display: inline-block;
}
a.news-item:hover h1, a.news-item:focus h1{
    color: blue;
}
.news-item > * {
    float: left;
}
.news-item .content {
    padding: 10px;
}
.news-item .content h1 {
    font-size: 25px;
}
.news-item .content p {
    font-size: 15px;
}
.news-item .haveImage {
    width: calc(100% - 200px);
}
.chart-selector {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
}
.chart-selector li {
    margin-right: 20px;
    cursor: pointer;
    color: #787d82!important;
}
.chart-selector li.selected {
    color: blue;
    text-decoration: underline;
}
hc-chart {
    display: block;
}
hc-chart > div {
    width: 100% !important;
}
.input-container {
    display: inline-flex;
    margin-bottom: 50px;
}
.input-container > * {
    margin-right: 20px;
}
@media (max-width: 760px) {

    /* Force table to not be like tables anymore */
    .responsive-table table,.responsive-table thead, .responsive-table tbody,.responsive-table th, .responsive-table td, .responsive-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table tr { border: 1px solid #ccc; }

    .responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    .responsive-table td:before { content: attr(mobile-title); }

    .news-item img {
        width: 100%;
    }
    .news-item .haveImage {
        width: 100%;
    }
    .news-container ul li {
        margin-bottom: 30px;
    }
}